<launch>
    <!--Setup remote roscore location and local IP-->
    <env name="ROS_MASTER_URI" value="http://Racecar-Armlab.local:11311" />
    <env name="ROS_IP" value="KWA20.local" />

    <!--Start teleop publisher-->
    <node pkg="racecar" type="wheel2ros.py" name="G29_controller" output="screen" />

</launch>
